logo img
{
width:100px;
height:100px;
}
body 
{
    background-repeat: no-repeat;
    background-size: 100%;
}
h1
{
    font-family:chiller;
    color:white;
    text-align: center;
    font-size: 80px; 
    /*background-color: white;
    border-style:dashed;*/
  
}
nav ul li
{
    border-radius:30px;
    list-style-type: none;
    width: fit-content;  
    float: left; 
    font-size:20px;

}
a
{
    padding: 3px; 
    border-radius:10px;
    background-color:white;
    text-decoration: none;
}
:hover
{

color:black;
border-radius:30px;
border-color:skyblue;
background-color:skyblue;
}
.DE
{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 80px;
    text-align: center;
    color:white; 
    background-color: black;
    border-radius:  10px ;
    width: fit-content;
    margin: 200px;
}
footer
{
    color:black;
    text-align: end;
    font-size: 20px;
    background-color: white;
    width: fit-content;
    text-shadow: white;   }

button 
{
 border-radius: 10px;
 padding:3px;
}
#hea
{
    text-align: center;
   /* background-color: tomato;*/
    font-size: 60px;
    color:yellow;
    font-family: Algerian;
}
.reg
{
    font-size: 50px;
    text-align: center;
   color:white;
}

form
{
 text-align: center;
 color:white;
 font-size:20px;
 
}
#he
{
    background-color:black;
    text-align: center;
    font-size: 40px;
    color:white;
}
#pa
{
    text-align:center;
    font-size: 20px;
    background-color: yellow;
}
#you
{
    text-align:center;
    font-size: 50px; 
  color: white;
  background-color:blue;
}

#sa
{
    background-color:yellow;
    color: blue;
   text-align:center;
   float: left;
   width:420px;
   font-size: 20px;
}
iframe
{
    float: right;
    text-align:end;
    border:5px solid black;
}
h3
{
    color:white;
    font-size: 70px; 
    text-align:center; 
    margin: 250px;
    font-family: chiller;
    background-color: skyblue;
    width: 300px;
    
}
ul
{
    font-size: 20px;
    color: ivory;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#ser
{
    background-color: indigo;
    color:white;
    font-size:50px;
    text-align: center;
}
#Ad
{
    font-size: 20px;
    color: white; 
    background-color:tomato;
    width: 500px;
}
#co
{
    font-size: 30px;
}

#li
{
    font-size: 30px;
    color:white;
}
#wat
{
    font-size: 30px;
    color: black;
}